/* header */

div.header {
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    text-indent: 10px;
    text-align: left;
    color: rgb(89, 48, 39);
    background-color: white;
}

div.header a {
    margin-top: 20px;
    text-indent: 20px;
    text-decoration: none;
    color: rgb(89, 48, 39);
}

div.header a:hover {
    color: #fcc3ba;
}

.logo {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 10px;
}


/* body */

body {
    background-color: #BFA08E;
    font-family: "Baskerville display PT";
}

.wangari-story {
    text-align: center;
}

.wangari-story div {
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.wangari-story div div {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

img {
    width: auto;
    max-width: 250px;
    max-height: 300px;
    border-radius: 10px;
    margin: 20px;
}

img #mouvement {
    max-width: 400px;
}


/* carousel */

.wangari-carousel {
    background-color: #59302C;
    height: 600px;
    margin-top: 40px;
}

.wangari-carousel img {
    margin-top: 20px;
    width: 70%;
    height: 400px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    border: 100px;
    border-color: rgb(89, 48, 39);
}

ul {
    display: flex;
    list-style: none;
    max-width: 2000px;
    margin-block: 2rem;
    margin-inline: auto;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

li {
    display: grid;
    place-items: center;
    color: white;
    font-size: 3rem;
    aspect-ratio: 2/1;
    width: 1050px;
    flex-shrink: 0;
    scroll-snap-align: start;
    background-color: #59302C;
}

.wangari-story h4 {
    color: rgb(255, 255, 255);
    font-size: 23px
}

.wangari-story p {
    color: (0, 0, 0);
}

.wangari-vid {
    border-radius: 10px;
    margin-left: 305px;
    margin-top: 50px;
    margin-bottom: 50px;
    /* align-self: center; */
}

.vid {
    background-color: #59302C;
    align-items: center;
    margin-bottom: 20px;

}


/* footer */

footer {
    background-color: rgb(140, 77, 82);
    color: white;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

footer img {
    width: 28px;
    border-radius: 2px;
    margin: 5px;
}

footer div {
    display: flex;
    flex-direction: row;
    align-self: center;
}

footer a:hover {
    opacity: 0.7;
}

@media only screen and (min-width: 1025px) {
    .wangari-story div {
        margin-right: 100px;
        margin-left: 100px;
    }
}