/* header */

div.header {
    margin-right:10px;
    margin-left:10px;
    display: flex;
    text-indent: 10px;
    text-align: center;
    color: rgb(89, 48, 39);
    background-color: white;
}

div.header a {
    margin-top: 20px;
    text-indent: 20px;
    text-decoration: none;
    color: rgb(89, 48, 39);
}

div.header a:hover {
    color: #fcc3ba;
}

.logo {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 10px;
}


/* body */


h1 {
    font-family: Lucida Handwriting;
}

body div h4 {
    font-family: Lucida Handwriting;
}




body {
    background-color: #FCC3BA;
    text-align: center;
    font-family: "Baskerville display PT";
}


body div {
    justify-content: center;
    display: flex;
    flex-direction: row;
}

body div div {
    display: flex;
    flex-direction: column;
}

img {
    width: auto;
    max-width: 250px;
    max-height:300px;
    border-radius: 10px;
    margin: 20px;
}

img #mouvement {
    max-width: 400px;
}


/* footer */

footer {
    background-color: rgb(140, 77, 82);
    color: white;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

footer img {
    width: 28px;
    border-radius: 2px;
    margin: 5px;
}

footer div {
    display: flex;
    flex-direction: row;
    align-self: center;
}

footer a:hover {
    opacity: 0.7;
}